<section id="log">
            <div class="containerlog">
                <div class="user signinBx">
                    <div class="imgBx"><img src="/img/landing.jpg"></div>
                    <div class="formBx">
                        <form action="/authentication/signin" method="POST">
                            <h2>Ingresar admin </h2>
                            <input type="text" name="username" placeholder="username">
                            <input type="password" name="password" placeholder="password">
                            <input type="submit" name="" value="Login">
                           
                            <p class="signup">no eres encargado ? <a href="/authentication/loginTrabajadores"  onclick="toggleForm();">Ingresar como lacayo.</a></p>
                        </form>
                    </div>
                </div>

            </div>
        </section>
        
     
